:root {
    --strong-blue: rgb(35, 45, 75);
    --neutral-blue: rgb(0, 85, 115);
    --mineral-green: rgb(0, 170, 155);
    --accent-red: rgb(240, 70, 65);
}

body {
    font-family: sans-serif;
    color: var(--strong-blue);
    margin: 0;
}

.accented {
    color: var(--accent-red);
}

header {
    background-color: var(--strong-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

header a {
    color: var(--mineral-green);
    text-decoration: none;
    font-size: larger;
}

.form {
    display: grid;
    gap: 0.7em;
    margin: 2em;
}

.login {
    grid-template-columns: 20% 60% 20%;
}

.login > * {
    grid-column: 2;
}

.error {
    color: var(--accent-red);
    list-style-type: none;
    padding-left: 0;
}

.language > select {
    color: var(--mineral-green);
    background: none;
    border: none;
}

.main-content {
    margin-bottom: 2em;
}

h1 {
    padding: 1em;
}

nav ul {
    display: flex;
    gap: 2em;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

footer {
    background-color: var(--strong-blue);
    color: var(--mineral-green);
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

button.ui-button, button.ui-button.ui-state-hover, button.ui-button.ui-state-active {
    background: var(--accent-red);
    border: 1px solid var(--accent-red);
    color: white;
}

button.ui-button.ui-state-focus {
    /*noinspection CssInvalidFunction*/
    box-shadow: 0 0 0 0.2em rgb(240 70 65 / 50%);
}

div.ui-selectonelistbox.ui-state-focus {
    /*noinspection CssInvalidFunction*/
    box-shadow: 0 0 0 0.2em rgb(0 170 155 / 50%);
}

li.ui-selectlistbox-item.ui-state-highlight {
    /*noinspection CssInvalidFunction*/
    box-shadow: 0 0 0 0.2em rgb(0 170 155 / 15%);
}

body .ui-selectonelistbox .ui-selectlistbox-listcontainer .ui-selectlistbox-list .ui-selectlistbox-item.ui-state-highlight, body .ui-selectmanymenu .ui-selectlistbox-listcontainer .ui-selectlistbox-list .ui-selectlistbox-item.ui-state-highlight, body .ui-datepicker .ui-datepicker-calendar td a.ui-state-active, body .ui-datepicker .ui-datepicker-calendar td.ui-datepicker-today a.ui-state-active {
    /*noinspection CssInvalidFunction*/
    background: rgb(0 170 155 / 10%);
}

input.ui-inputfield.ui-state-hover {
    border-color: var(--mineral-green);
}

input.ui-inputfield.ui-state-focus {
    border-color: var(--mineral-green);
    /*noinspection CssInvalidFunction*/
    box-shadow: 0 0 0 0.2em rgb(0 170 155 / 50%);
}
